<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: black;
        }
        .container1 {
            background-color: white;
            margin: 10%;
            border: 1px solid black;
            border-radius: 20px;
        }
        .box {
            padding-left: 10%;
            padding-top: 3%;
            padding-bottom: 3%;
            padding-right: 7%
        }
        .container3 {
            margin-top: 2%;
        }
    </style>
</head>
<body>
   <div class="container1">
    <div class="box">
        <div class="container2">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="container3"> 
            <p>{{ post.content }}</p>
        </div>
        
    </div>
    <div style="padding-bottom: 5%; padding-right: 7%;padding-left: 10%;">
    <a href="{{ url_for('index') }}" class="btn btn-dark">Back</a>
    </div>
</div> 
</body>
</html>